.container {
    position: relative;
    /* width: 50%; */
    display: inline-block;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  display: inline-block;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 14px;
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 0.9;
}